<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>
<h2>Inbox(<%= @count %>)</h2>
<table>
  <tr>
	<td><h3>Subject</h3></td>
    <td><h3>Date</h3></td>
    <td><h3>Show</h3></td>
    <td><h3>Delete</h3></td>
  </tr>
  
  <%= render @messages %>
</table>
