// Place all the styles related to the userhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu
{
padding-top:2em;
padding-bottom:2em;
}
#wrapper
{
display: block;
margin-left: auto;
margin-right: auto;
}
#search_menu
{
box-shadow: 0 0 1px rgba(26, 28, 30, 0.1),0 0 4px rgba(26, 28, 30, 0.3);
padding: 1em 1em 1em 1em;
margin-bottom:2em;
width:1200px;
}