// Place all the styles related to the User_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile_menu
  {
  box-shadow: 0 0 1px rgba(26, 28, 30, 0.1),0 0 4px rgba(26, 28, 30, 0.3);
  padding: 1em 1em 1em 1em;
  margin-bottom:2em;
  width:1000px;
}

#top_wrapper {
  height: 65px;
  margin: 5px auto 0;
  position: relative;
  width: 1040px;
}

