// Place all the styles related to the userhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu
{
padding-top:2em;
padding-bottom:2em;
}
#wrapper
{
  width:1050px;
  height:850px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee; text-align:center;
}
#search_menu
{
box-shadow: 0 0 1px rgba(26, 28, 30, 0.1),0 0 4px rgba(26, 28, 30, 0.3);
padding: 1em 1em 1em 1em;
margin-bottom:2em;
width:1000px;
}

.feed
  {
  width:500px;
  height:450px;
  float:left;
  margin-right:20px;
  box-shadow: 0 0 1px rgba(26, 28, 30, 0.1),0 0 4px rgba(26, 28, 30, 0.3);
}
.feed-inside
  {
  width:500px;
  height:400px;
  box-shadow: 0 0 1px rgba(26, 28, 30, 0.1),0 0 4px rgba(26, 28, 30, 0.3);
  float:left;
}
.text
  {
  text-align:center
}

.text_left
  {
  text-align:left
}
.trip
  {
  width: 400px;
  margin-right:50px;
  margin-left:50px;
}
#geocomplete { width: 200px}

.map_canvas1 { 
  width: 200px; 
  height: 200px; 
  margin: 10px 20px 10px 0;
}

.map_canvas2 { 
  width: 200px; 
  height: 200px; 
  margin: 10px 20px 10px 0;
}

.map_canvas3 { 
  width: 200px; 
  height: 200px; 
  margin: 10px 20px 10px 0;
}

.map_canvas4 { 
  width: 200px; 
  height: 200px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}

.rating {
	margin: auto 0;
}

.rating_star {
	background: url('ratings.png') 0 0;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}

.on {
	background-position: 0 16px;
	
}
	

